# Explantory Data Analysis Notebook

In [1]:
library(tidyverse)
library(tidymodels)

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.4     ✔ readr     2.1.5
✔ forcats   1.0.0     ✔ stringr   1.5.1
✔ ggplot2   3.5.1     ✔ tibble    3.2.1
✔ lubridate 1.9.3     ✔ tidyr     1.3.1
✔ purrr     1.0.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors
── Attaching packages ────────────────────────────────────── tidymodels 1.2.0 ──

✔ broom        1.0.5     ✔ rsample      1.2.1
✔ dials        1.3.0     ✔ tune         1.2.1
✔ infer        1.0.7     ✔ workflows    1.1.4
✔ modeldata    1.4.0     ✔ workflowsets 1.1.0
✔ parsnip      1.2.1     ✔ yardstick    1.3.1
✔ recipes      1.1.0

── Conflicts ───────────────────────────────────────── tidymodels_conflicts() ──
✖ scales::discard() masks purrr::discard()
✖ dplyr::filter()   masks stats::filter()
✖ recipes::fixed()  masks stringr::fixed()
✖ dplyr::lag()      masks stats::lag()
✖ yardstick::spec() masks readr::spec()
✖ recipes::step()   masks stats::step()
• Use tidymodels_prefer() to resolve common conflicts.

In [1]:
data <- read.csv("car_price_prediction_.csv")
head(data)

  Car.ID Brand Year Engine.Size Fuel.Type Transmission Mileage Condition
1 1      Tesla 2016 2.3         Petrol    Manual       114832  New
2 2      BMW   2018 4.4         Electric  Manual       143190  Used
3 3      Audi  2013 4.5         Electric  Manual       181601  New
4 4      Tesla 2011 4.1         Diesel    Automatic     68682  New
5 5      Ford  2009 2.6         Diesel    Manual       223009  Like New
6 6      Audi  2019 2.4         Diesel    Automatic    246553  Like New
  Price    Model
1 26613.92 Model X
2 14679.61 5 Series
3 44402.61 A4
4 86374.33 Model Y
5 73577.10 Mustang
6 88969.76 Q7

In [8]:
install.packages("ggplot2")

Updating HTML index of packages in '.Library'

Making 'packages.html' ...
 done